{% extends 'root.html' %}

{% block content %}
    {% block tag %}
        {% endblock %}

    <div class="card mt-5">
        {% if perms.auth.create_course %}
        <a class="btn btn-outline-success mt-3 ml-5 mr-5" href="{% url "course:course_create" %}" role="button">Create course</a>
        {% endif %}
        <div class="card-group">

            {% for course in object_list %}
                <div class="col-md-4">
                <div class="card mt-5 ml-3 mb-1">

                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.get_short_desc }}</p>
                        <p><a class="btn btn-primary" href="{% url "course:course_detail" pk=course.pk %}" role="button">More</a>
                            {% if perms.auth.delete_course %}
                            <a class="btn btn-danger" href="{% url "course:course_delete" pk=course.pk %}" role="button">Delete</a>
                            <a class="btn btn-warning" href="{% url "course:course_update" pk=course.pk %}" role="button">Change</a>
                            {% endif %}
                        </p>
                        <p class="text-muted">
                            {% for ct in course.category.all %}
                                <a href="{% url 'course:course_list_by_tag' category_id=ct.id %}">{{ ct.category_title }}</a>
                            {% endfor %}
                            </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"> Start: {{ course.start }} Status: {{ course.status }}</small>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}